<h1>participants</h1>

<table>
  <thead>
    <tr>
      <td> name </td>
      <td> owner </td>
      <td> age </td>
    </tr>
  </thead>

  <tbody>
  <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.participantname %></td>
        <td><%= participant.owner %></td>
        <td><%= participant.age %></td>
        <td><%= link_to 'Show', "/participants/#{participant.id}" %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant_path(participant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<%= link_to 'New participant', new_participant_path %>