<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <td> name </td>
      <td> owner </td>
      <td> age </td>
    </tr>
  </thead>

  <tbody>
  <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.dogname %></td>
        <td><%= dog.owner %></td>
        <td><%= dog.age %></td>
        <td><%= link_to 'Show', "/dogs/#{dog.id}" %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog_path(dog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<%= link_to 'New Dog', new_dog_path %>