<p id="notice"><%= notice %></p>

<p>
  <strong> id:</strong>
  <%= @dog.id %>
</p>

<p>
  <strong>Dogname:</strong>
  <%= @dog.dogname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>