<%= form_for(@participant) do |t| %>

    <div>
      <%= t.label :dog_name %><br>
      <%= t.text_field :dog_name %>
    </div>

    <div>
      <%= t.label :owner %><br>
      <%= t.text_area :owner %>
    </div>

    <div>
      <%= t.label :age %><br>
      <%= t.text_area :age %>
    </div>

    <div class="actions">
      <%= t.submit %>
    </div>

<%end%>
