<p id="notice"><%= notice %></p>

<p>
  <strong> id:</strong>
  <%= @participant.id %>
</p>

<p>
  <strong>dog name:</strong>
  <%= @participant.dog_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @participant.age %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>